<div class="header-top-block">
    <div class="left">
        <!--<a href="<%- url_for_lang('') %>"><%- image_tag('images/logo.png') %></a>-->
        <p><%= _p('help_center') %></p>
    </div>
    <div class="right">
        <ul>
            <% for (var i in theme.menu){ %>
                <li><a class="main-nav-link" href="<%- url_for_lang(theme.menu[i]) %>"><%= _p(i) %></a></li>
            <% } %>
            <li>
                <% for (let lang in Object.keys(site.data)){ %>
                    <span value="<%= lang %>"><%= lang %></span>
                <% } %>
                <label id="lang-select-label" for="lang-select" class="lang-nav-link"><%- image_tag('images/flags/' + page.lang + '.svg', {width: 40, height: 20}) %></label>
                <select id="lang-select" class="hidden" data-canonical="<%= canonical_path_for_nav() %>">
                    <% for (let lang in active_languages()){ %>
                    <option value="<%= lang %>"<% if (page.lang === lang){ %> selected<% } %>><%= lang_name(lang) %></option>
                    <% } %>
                </select>
            </li>
        </ul>
    </div>
</div>
