<div class="content-body">
    <%- partial(theme.theme_desktop + '/components/selector-major-categories',
            {category: 'categories'}) %>

    <div class="mew___categories_cat-categories page-container">
        <div class="wrap">
            <div class="category-container">
                <div class="cat-group">
                    <h3><%= _p('index.intro') %></h3>
                    <ul>
                        <li>
                            <a href="<%- url_for_lang(site.categories.findOne({name: 'coaching'}).posts.sort('date', 1).data[0].path) %>">
                                <div>
                                    <%- image_tag('images/mew-icons/coaching.svg') %>
                                    <p><%= _p('index.coaching') %></p>
                                    <div class="post-counter">
                                        <p><%= site.categories.findOne({name: 'coaching'}).posts.length %></p></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="<%- url_for_lang(site.categories.findOne({name: 'lean'}).posts.sort('date', 1).data[0].path) %>">
                                <div>
                                    <%- image_tag('images/mew-icons/lean.svg') %>
                                    <p><%= _p('index.lean') %></p>
                                    <div class="post-counter">
                                        <p><%= site.categories.findOne({name: 'lean'}).posts.length %></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="<%- url_for_lang(site.categories.findOne({name: 'devops'}).posts.sort('date', 1).data[0].path) %>">
                                <div>
                                    <%- image_tag('images/mew-icons/devops.svg') %>
                                    <p><%= _p('index.devops') %></p>
                                    <div class="post-counter">
                                        <p><%= site.categories.findOne({name: 'devops'}).posts.length %></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="<%- url_for_lang(site.categories.findOne({name: 'docker'}).posts.sort('date', 1).data[0].path) %>">
                                <div>
                                    <%- image_tag('images/mew-icons/docker.svg') %>
                                    <p><%= _p('index.docker') %></p>
                                    <div class="post-counter">
                                        <p><%= site.categories.findOne({name: 'docker'}).posts.length %></p></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="<%- url_for_lang(site.categories.findOne({name: 'kubernetes'}).posts.sort('date', 1).data[0].path) %>">
                                <div>
                                    <%- image_tag('images/mew-icons/kubernetes.svg') %>
                                    <p><%= _p('index.kubernetes') %></p>
                                    <div class="post-counter">
                                        <p><%= site.categories.findOne({name: 'kubernetes'}).posts.length %></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="<%- url_for_lang(site.categories.findOne({name: 'ansible'}).posts.sort('date', 1).data[0].path) %>">
                                <div>
                                    <%- image_tag('images/mew-icons/ansible.svg') %>
                                    <p><%= _p('index.ansible') %></p>
                                    <div class="post-counter">
                                        <p><%= site.categories.findOne({name: 'ansible'}).posts.length %></p></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="<%- url_for_lang(site.categories.findOne({name: 'others'}).posts.sort('date', 1).data[0].path) %>">
                                <div>
                                    <%- image_tag('images/mew-icons/others.svg') %>
                                    <p><%= _p('index.others') %></p>
                                    <div class="post-counter">
                                        <p><%= site.categories.findOne({name: 'others'}).posts.length %></p></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- .category-container -->
        </div>
        <%- partial(theme.theme_desktop + '/components/bottom-helpers') %>
    </div>
</div>
