<div class="content-body">
  <%- partial(theme.theme_desktop + '/components/selector-major-categories', {category: 'videos'}) %>

  <div class="mew___categories_cat-videos page-container">
    <div class="wrap">
      <div class="youtube-container">
        <div class="sidebar">
          <%= _p('index.v5') %>
        </div>
        <ul>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <!--<img src="/images/youtube/mew5-create-a-wallet.jpg">-->
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.youtube_devops') %>:</p>
                <p><%= _p('video_tab.youtube_devops1') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/watch?v=GDs18p5eq-Y">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <!--<img src="/images/youtube/mew5-wallet-overview.jpg">-->
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.youtube_devops') %>:</p>
                <p><%= _p('video_tab.youtube_devops2') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/watch?v=Q771mg6HZ4A">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
          <li>
            <div class="video-button">
              <div class="video-thumbnail">
                <!--<img src="/images/youtube/mew5-using-mew-offline.jpg">-->
              </div>
              <div class="video-info">
                <p><%= _p('video_tab.youtube_devops') %>:</p>
                <p><%= _p('video_tab.youtube_devops2') %></p>
              </div>
            </div>
            <div class="video-popup">
              <div class="video-iframe" youtube-link="https://www.youtube.com/watch?v=Q771mg6HZ4A">
                <iframe width="900" height="506" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <%- partial(theme.theme_desktop + '/components/bottom-helpers') %>
  </div>
</div>
