<header>
  <div class="header-wrap page-container">
    <div class="top-block">
      <div class="left">
        <!--<a href="/"><%- image_tag('images/logo.png') %></a>-->
        <p>Help Center</p>
      </div>
      <div class="right">
        <ul>
          <% for (var i in theme.menu){ %>
            <li><a class="main-nav-link" href="<%- url_for_lang(theme.menu[i]) %>"><%= i %></a></li>
          <% } %>
        </ul>
      </div>
    </div>

    <div class="search-block">
      <div class="search-title">You search something?</div>
      <div class="search-form-container">
        <%- search_form({button: '&#xF002;'}) %>
      </div>
      <p class="search-bottom-text">Top Searches: Kubernetes / Linux / Docker / Workshops / Lean / Agile / Coaching</p>
    </div>
  </div>
</header>
