<!--<div class="mew___components_share">
  <div class="wrap">
    <div class="title"><%= _p('share_to') %></div>
    <div><a href="<%= _p('links.facebook') %>" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
    <div><a href="<%= _p('links.twitter') %>" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
    <div><a href="<%= _p('links.linkedin') %>" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
    <div><a href="<%= _p('links.reddit') %>" target="_blank"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></div>
    <div><a href="<%= _p('links.medium') %>" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></div>
  </div>
</div>-->
