<div class="breadcrumbs-container page-container">
  <%- partial(theme.theme_desktop + '/components/breadcrumbs', null) %>
</div>
<div class="article-container page-container">
  <div class="wrap-sidebar">
    <%- partial(theme.theme_desktop + '/components/sidebar/sidebar-primary-category', null) %>
  </div>
  <div class="wrap-post-body">
    <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
        <% if(post.toc == true){ %>
          <div id="toc-div" class="toc-article" <% if (post.encrypt == true) { %>style="display:none" <% } %>>
            <strong class="toc-title">Index</strong>
              <% if (post.encrypt == true) { %>
                <%- toc(post.origin, {list_number: true}) %>
              <% } else { %>
                <%- toc(post.content, {list_number: true}) %>
              <% } %>
          </div>
        <% } %>
        <%- post.content %>
    </article>
    <div class="thumbs-and-share-container">
      <div class="share">
        <%- partial(theme.theme_desktop + '/components/share', null) %>
      </div>
    </div>
    <div class="pre-next-posts">
      <%- partial(theme.theme_desktop + '/components/related-posts', null) %>
    </div>
  </div>
</div>

